<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Test</title>
</head>
<body>
    <h1>WebSocket Test</h1>
    <div id="messages"></div>

    <script>
        // Получите токен пользователя (это может быть получено через AJAX или прямо из шаблона)
        const token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNzIwNTIxMzExLCJpYXQiOjE3MjA0MzQ5MTEsImp0aSI6ImQxNWU3Yjc2MmY1YzQ0Y2RiODdjNmI4YjZhMGQ1ZThmIiwidXNlcl9pZCI6MjAsInVzZXJuYW1lIjoiYXZpdG8xMSJ9.Ly3npcKyEgQ2jCQGMJB9L4YjnU6ul0SfcQasD-R2ouM";
        // Создаем WebSocket соединение
        const socket = new WebSocket(`ws://127.0.0.1:8000/ws/messages/?token=${token}`);
        
        socket.onopen = function(event) {
            console.log('WebSocket connection established');
        };

        socket.onmessage = function(event) {
            console.log('Message received: ' + event.data);
            const messageData = JSON.parse(event.data);
            const messagesDiv = document.getElementById("messages");
            const messageElement = document.createElement("p");
            messageElement.textContent = messageData.message;
            messagesDiv.appendChild(messageElement);
        };

        socket.onclose = function(event) {
            if (event.wasClean) {
                console.log(`Соединение закрыто чисто, код=${event.code} причина=${event.reason}`);
            } else {
                console.log('Соединение прервано');
            }
        };
        
        socket.onerror = function (error) {
            document.getElementById("messages").innerHTML += "<p>Error: " + error.message + "</p>";
        };
    </script>
</body>
</html>